@font-face {
     font-family: 'Kenyan Coffee';
     src: url('../fonts/kenyan coffee rg.ttf');
 }
.page-header.type7.header-newskin .panel.header .toplinks-area ul li.greet.welcome{
}
.block-search{
    width: 250px!important;
}
.page-header.type7.header-newskin .panel.header .switcher{
    display: none;
}
.page-header.type7.header-newskin .block-search{
    display: block!important;
    left: 0!important;
    top: 0!important;
    position: relative!important;
}
.page-header.type7.header-newskin .panel.wrapper{
    padding-top: 5px;
    padding-bottom: 3px;
}
.page-header.type7.header-newskin .block-search input{
    height: 40px!important;
border-radius: 0!important;
border: 0!important;
}
.page-header.type7 .block-search::before{
    display: none!important;
}
.page-header.type7.header-newskin .block-search .action.search{
    height: 40px!important;
}
.page-header.type7.header-newskin .panel.header > span.split{
    visibility: hidden;
}
.footer-bottom .container::before{
    display: none;
}
.page-header.type7.header-newskin .panel.header .toplinks-area{
    font-size: 16px!important;
}
.page-header.type7.header-newskin .navigation .level0 > .level-top{
    font-weight: 600!important;
    font-size: 21px;
}
.social-icons a i{
    display: inline-block!important;
}
.social-icons a{
    background: #ADB53E;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    padding: 0;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
.brands-slider .owl-carousel .owl-item img{
    width: auto;
    max-height: 100px;
    text-align: center;
    max-width: 160px;
    margin: 0 auto;
}
.block.newsletter .form.subscribe{
    border: 1px solid #703A22;
}
.subscribe-form .block.newsletter .actions .action.subscribe{
    background: #703A22!important;
    border-radius: 0!important;
}
.subscribe-form .block.newsletter .control::before{
    display: none;
}
#banner-slider-demo-21.owl-carousel .owl-item img{
    max-height: 412px;
}
.form-find-area select{
    border-radius: 0!important;
    border-color: #703A22!important;
    color: #703A22!important;
}
.form-find-area.theme-border-color {
    border-color: #ADB53E !important;
    border-width: 5px!important;
}
#search_mini_form .search-category{
    display: none;
}
.page-header.type7.header-newskin .minicart-wrapper .action.showcart::after{
    color: #fff;
}
.breadcrumbs li.home a::after{
    font-size: 16px;
    top: 2px!important;
}
#minicart-content-wrapper .secondary .action.viewcart{
    background: #703A22!important;
}
.header.links li a,
.header.links li span{
    font-size: 14px!important;
}