<div class="form-find-area theme-border-color">
    <h3 class="form-title" style="color:#703A22;">VIND EEN PRODUCT</h3>
    <form action="#" id="category-selection" class="form-find" style="color:#703A22;">
        <select>
            <option value="" style="color:#703A22;">Categorie</option>
            
            <?php foreach ($block->getFirstLevelCategoryList() as $topCat) : ?>
                <?php $catTop = $block->getCategory($topCat); ?>
                <option value="<?= $topCat ?>" catUrl="<?= $catTop->getUrl() ?>" style="color:#703A22;"><?= $catTop->getName() ?></option>
            <?php endforeach; ?>
        </select>
    </form>
</div>
<script type="text/javascript">
    require(["jquery"],function($) {
        $('#category-selection select').on('change', function() {
            $(this).next('select').remove();
            var customurl = "<?php echo $this->getUrl('findProduct') ?>";
            var selectedCat = this.value;
            $.ajax({
                url: customurl,
                type: 'POST',
                dataType: "html",
                async: !1,
                data: {catId : selectedCat},
                complete: function(response) {
                    //console.log(response);
                    //var result = $.parseJSON(response.responseJSON);
                    //console.log(result);
                    $('#category-selection').append(response.responseText);
                    //$(response).insertBefore('#category-selection #category-selection-submit');
                }
            });
        });
        $('#category-selection-submit').on('click', function() {
            $(this).attr('href', $('#category-selection > select:last').find(":selected").attr('caturl'));
        });
    });
</script>